apiVersion: apps/v1
kind: Deployment
metadata:
  name: dev-deployment
spec:
  selector:
    matchLabels:
      app: dev-deployment
  template:
    metadata:
      labels:
        app: dev-deployment
    spec:
      containers:
      - name: dev-deployment
        image: idrisniyi94/policy-sentry:latest
        resources:
          limits:
            memory: "128Mi"
            cpu: "500m"
        ports:
        - containerPort: 5000

---
apiVersion: v1
kind: Namespace
metadata:
  name: dev-namespace
